@import "tailwindcss";


:root{
    font-family:sans-serif;
}

.navbar-box{
    @apply pr-[3vw] py-[1vh] pl-[4vw] flex flex-row bg-gradient-to-b from-[#b1f9fd98] to-[#429dfe81] w-full h-1/12 items-center gap-15;
}

.scale-up{
    transition: 0.3s ease;
}

.scale-up:hover{
    transform: scale(1.02);
}