@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";


*{
    font-family:outfit;
}

.navbar-box{
    @apply pr-[3vw] py-[1vh] pl-[4vw] flex max-sm:flex-col max-sm:gap-2 md:flex-col lg:flex-row bg-gradient-to-b from-[#b1f9fd98] to-[#69adf6b1] w-full h-1/12 items-center gap-15;
}

.scale-up{
    transition: 0.3s ease;
}

.scale-up:hover{
    transform: scale(1.02);
}

a.active hr{
    display: block;
}

.shiny-text {
  color: #ffffff; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0) 40%,
    rgba(255, 253, 253, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}

.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}


.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
